@media (max-width: 820px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar img {
    margin-top: 1rem;
  }

  #navbar h1 {
    padding: 1rem 0;
  }

  #navbar ul li {
    padding: 0 0 2rem 0;
  }

  #navbar ul li a {
    font-size: 0.66rem;
  }

  #showcase .showcase-content {
    padding: 1.25rem 2rem;
    min-height: 30vh;
  }

  #showcase .showcase-content h1 {
    padding: 2rem 0;
    font-size: 2rem;
  }

  #about {
    padding-top: 0.3rem;
    line-height: 1.3rem;
  }

  .photos {
    flex-direction: column;
    justify-content: space-around;
  }

  .photos p {
    display: none;
  }

  .image {
    width: 60%;
    max-width: 90%;
    margin: 1rem 0;
    align-self: center;
  }

  .dogs:before {
    background: none;
  }

  .dogs .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .dog-card-right .visit-card h2,
  .dog-card-right .visit-card p {
    text-align: left;
  }

  #vinc {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

  }

  #aki {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    flex-direction: column-reverse;
  }

  #remi {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;

  }

  #rheia {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    flex-direction: column-reverse;
  }


  #morty {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;

  }

  .dog-card {

    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr;
    z-index: 1;
    padding: 2rem;
  }

  .album {
    display: flex;
    justify-content: center;
  }

  .dog-card-left .visit-card h2,
  .dog-card-left .visit-card p,
  .dog-card-right .visit-card h2,
  .dog-card-right .visit-card p {
    text-align: center;
  }

  .album a {
    align-self: center;
  }

  .album a img {
    align-self: center;
  }

  #about .container {
    padding: 0 1rem;
  }

  #about .container p {
    line-height: 1.3rem;
  }

  #contact .contact-form p,
  #contact .map {
    display: none;

  }

  #news .container {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;

  }

  .news:nth-child(even) {
    display: flex;
    flex-direction: column;
    text-align: center;

  }

  .news-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

  }

  .news {
    justify-content: center;
    width: 100%;
    padding: 0 0;
    min-width: 320px;
    margin: auto;
  }



}