@media (max-width: 820px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar img {
    margin-top: 1rem;
  }

  #navbar h1 {
    padding: 1rem 0;
  }

  #navbar ul li {
    padding: 0.3rem 0 1rem 0;
  }

  #navbar ul li a {
    font-size: 0.66rem;
  }

  #showcase .showcase-content {
    padding: 1.25rem 2rem;
    min-height: 30vh;
  }

  #showcase .showcase-content h1 {
    padding: 2rem 0;
    font-size: 2rem;
  }

  #about {
    padding-top: 0.3rem;
    line-height: 1.3rem;
  }

  .photos {
    flex-direction: column;
    justify-content: space-around;
  }

  .photos p {
    display: none;
  }

  .image {
    width: 60%;
    max-width: 90%;
    margin: 1rem 0;
    align-self: center;
  }

  .dogs .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .dog-card-right .visit-card h2,
  .dog-card-right .visit-card p {
    text-align: left;
  }

  .dog-card {

    display: grid;
    grid-template-rows: 1fr;
    z-index: 1;
  }

  #contact .contact-form p,
  #contact .map {
    display: none;

  }
}